*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: 100%;
    background-color: #E5DDD5;
}
header.cabecalho-principal{
    width: 100%;
    height: 150px;
    background-color: #009587;
    position: relative;
}

header.cabecalho-principal .titulo-page{
    font-size: 30px;
    color: whitesmoke;
    padding: 50px 3%;
    float: left;
}

header.cabecalho-principal .btn-login{
    width: 100px;
    padding: 14px 10px;
    font-size: 14px;
    background-color: #DDDDDD;
    transition: 500ms;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 50px 4%;
    float: right;
}

header.cabecalho-principal .btn-login:hover {
    cursor: pointer;
    background-color: #BBBBBB;
}



.conteiner{
    position: fixed;
    width: 70%;/* Trocar para 900px*/
    height: 90%;
    top: 5%;
    left: 15%;
    background-color: #eeeeee;
    display: none;
}
.conteiner.active{
    display: block;
}

.conteiner .coluna-left{
    float: left;
    width: 30%;
    height: 100%;
    background-color: #F7F9FA;
}

.conteiner .coluna-right{
    float: right;
    width: 70%;
    height: 100%;
    background-color: #F7F9FA;
    position: relative;
}


.cabecalho-grupos, .cabecalho-mensagem{
    width: calc(100% - 2px);
    height: 50px;
    background-color: #EEEEEE;
    border: 1px solid #DBDBD4;
}

.contato{
    width: calc(100% - 2px);
    height: 50px;
    background-color: #EEEEEE;
    border: 1px solid #DBDBD4;
    cursor: pointer;
}

.contato:hover{
    background-color: #DDDDDD;
}


.img-usuario, .img-grupo{
    background: white url("../img/usuario.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    display: block;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    float: left;
}

.nome-usuario,.nome-grupo{
    display: block;
    margin-left: 10px;
    padding: 15px 0;
    float: left;
}

.conteiner .coluna-right .conversa{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}
.conteiner .coluna-right .conversa.active{
    display: block;
}
.coluna-left .conteiner-cadastro{
    width: 100%;
    height: 100px;
    background-color: #EEEEEE;
}

.coluna-left .cadastrar-grupo-input {
    width: calc(100% - 75px);
    height: 40px;
    border: 5px solid #EEEEEE;
    text-align: left;
    float: left;
    background-color: white;
    padding: 0 0 0 10px;
    transition: 1s;
}

.coluna-left .cadastrar-grupo-button {
    width: 55px;
    height: 100%;
    text-align: center;
    font-size: 14px;
    background-color: #DDDDDD;
    transition: 500ms;
    border: 1px solid rgba(0,0,0,0.1);
}

.coluna-left .cadastrar-grupo-button:hover {
    cursor: pointer;
    background-color: #BBBBBB;
}

.coluna-left .grupos{
    width: calc(100% - 2px);
    height: calc(100% - 152px);
    max-height: calc(100% - 96px);
    background-color: whitesmoke;
    border: 1px solid #DBDBD4;
    overflow-y: auto;
}

.coluna-right .mensagens{
    width: calc(100% - 2px);
    height: calc(100% - 97px);
    background-color: #E5DDD5;
    border: 1px solid #DBDBD4;
    overflow-y: auto;
    overflow-x: hidden;
}

.mensagem-group{
    position: relative;
    width: 100%;
    overflow: auto;
}

.coluna-right .mensagens .mensagem{
    border: 1px solid #DBDBD4;
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 10px;
}

.coluna-right .mensagens .mensagem-recebida{
    float: left;
    background-color: whitesmoke;
}

.coluna-right .mensagens .mensagem-enviada{
    float: right;
    background-color: #DCF8C6;
}

.coluna-right .mensagens .mensagem .userName{
    display: block;
    font-size: 12px;
    padding: 5px 0px;

}

.coluna-right .mensagens .mensagem .conteudo{
    display: block;
    font-size: 16px;
    padding: 5px 10px;
}

.conversa .mensagem-input-text{
    width: calc(100% - 115px);
    height: 35px;
    border: 5px solid #EEEEEE;
    text-align: left;
    background: white;
    padding-left: 5px;
    transition: 500ms;
}

.conversa .mensagem-input-button{
    width: 100px;
    padding: 14px 10px;
    font-size: 14px;
    background-color: #DDDDDD;
    transition: 500ms;
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}

.conversa .mensagem-input-button:hover{
    cursor: pointer;
    background-color: #BBBBBB;
}


.scroll-style::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgba(255,255,255,0.08);
}

.scroll-style::-webkit-scrollbar{
    width: 6px;
    background-color: #fefefe;
}

.scroll-style::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(0,0,0,0.2);
}




.modal{
    position: fixed;
    width: 70%;/* Trocar para 900px*/
    height: 90%;
    top: 5%;
    left: 15%;
    background-color: #eeeeee;
    display: none;
}
.modal.active{
    display: block;
}

.modal .modal-form{
    background-color: #EEEEEE;
    border: 2px solid rgba(0,0,0,0.1);
    margin: 20% auto auto auto;
    text-align: center;
    padding: 20px 10px;
    max-width: 250px;
    display: none;
}

.modal .modal-form.active{
    display: block;
}


.modal .modal-form .input-login{
    width: calc(100% - 20px);
    height: 35px;
    border: 2px solid rgba(0,0,0,0.2);
    text-align: left;
    background: white;
    padding-left: 5px;
    transition: 500ms;
    margin:5px;
}

.modal .modal-form .button-entrar {
    width: 100px;
    padding: 14px 10px;
    font-size: 14px;
    background-color: #DDDDDD;
    transition: 500ms;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    margin:5px;
}

.modal .modal-form .button-entrar:hover {
    cursor: pointer;
    background-color: #BBBBBB;
}