*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: 100%;
    background-color: #E5DDD5;
}
header.cabecalho{
    width: 100%;
    height: 150px;
    background-color: #009587;
    position: relative;
}

header.cabecalho .btn-entrar{
    background-color: white;
    padding: 10px 20px;
    margin: 10px;
    float: right;
}

.conteiner{
    position: fixed;
    width: 70%;/* Trocar para 900px*/
    height: 90%;
    top: 5%;
    left: 15%;
    background-color: #eeeeee;
}

.conteiner .coluna-left{
    float: left;
    width: 30%;
    height: 100%;
    background-color: #F7F9FA;
}

.conteiner .coluna-right{
    float: right;
    width: 70%;
    height: 100%;
    background-color: #F7F9FA;
    position: relative;
}


.cabecalho-mensagem{
    width: calc(100% - 2px);
    height: 50px;
    background-color: #EEEEEE;
    border: 1px solid #DBDBD4;
}

.contato{
    width: calc(100% - 2px);
    height: 50px;
    background-color: #EEEEEE;
    border: 1px solid #DBDBD4;
    cursor: pointer;
}
.contato:hover{
    background-color: #DDDDDD;
}


.img-usuario{
    background: white url("../img/usuario.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    display: block;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    float: left;
}

.nome-usuario{
    display: block;
    margin-left: 10px;
    padding: 15px 0;
    float: left;
}

.conteiner .coluna-right .conversa{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}
.conteiner .coluna-right .conversa.active{
    display: block;
}

.coluna-left .pesquisa-input {
    width: calc(100% - 45px);
    height: 35px;
    border: 5px solid #EEEEEE;
    text-align: left;
    float: left;
    background: white url("../img/search-icon.png") no-repeat 10px center;
    padding: 0 0 0 35px;
    transition: 1s;
}

.coluna-left .pesquisa-input:focus {
    background: white url("../img/lupa.png") no-repeat 10px center;
}

.coluna-left .usuarios{
    width: calc(100% - 2px);
    height: calc(100% - 52px);
    max-height: calc(100% - 96px);
    background-color: whitesmoke;
    border: 1px solid #DBDBD4;
    overflow-y: auto;

}

.coluna-right .mensagens{
    width: calc(100% - 2px);
    height: calc(100% - 97px);
    background-color: #E5DDD5;
    border: 1px solid #DBDBD4;
    overflow-y: auto;
    position: relative;
}

.coluna-right .mensagens .mensagem-recebida{
    width: 50%; /*calc(50% - 32px)*/
    float: left;
    padding: 5px 10px;
    margin: 5px;
    background-color: whitesmoke;
    border: 1px solid #DBDBD4;
    text-align: left;
    display: block;
}

.coluna-right .mensagens .mensagem-enviada{
    width: 50%;/*calc(50% - 32px)*/
    float: right;
    padding: 5px 10px;
    margin: 5px;
    background-color: #DCF8C6;
    border: 1px solid #DBDBD4;
    text-align: left;
    display: block;
}

.conversa .mensagem-input{
    width: calc(100% - 15px);
    height: 35px;
    border: 5px solid #EEEEEE;
    text-align: left;
    background: white;
    padding-left: 5px;
    transition: 1s;
}





.scroll-style::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgba(255,255,255,0.08);
}

.scroll-style::-webkit-scrollbar{
    width: 6px;
    background-color: #fefefe;
}

.scroll-style::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(0,0,0,0.2);
}
